# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\judit\Documents\UB\_42_BASES_DE_DADES_AVANCADES\PRACTICAL\lab2\dbxic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
